In [20]:
import pandas as pd


# Housing Prices dataset - Columns 'Quarter', 'Value' where 'Type of Employee' = "All employees" and 'Economic Sector NACE Rev 2' = "Construction (F)"
#df_housingPrices = pd.read_csv('https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/HPA09/CSV/1.0/en')
df_rentPrices = pd.read_csv('https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/RIA02/CSV/1.0/en')
#df_GDP = pd.read_csv('/API_NY.GDP.MKTP.CD_DS2_en_csv_v2_5454986.csv')

# Labour Costs dataset - Columns 'Quarter', 'Value' where 'Type of Employee' = "All employees" and 'Economic Sector NACE Rev 2' = "Construction (F)"
df_labourCosts = pd.read_csv('https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/EHQ03/CSV/1.0/en')

# Construction Workers dataset - Columns 'Quarter', 'Value' where 'Sex' = "Both Sexes"
#df_constructionWorkers = pd.read_csv('https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/QLF03/CSV/1.0/en')

# Buildings Built dataset - Columns 'Year' and 'Values'
#df_buildingsBuilt = pd.read_csv('https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/NDA02/CSV/1.0/en')

#df_buildingsBuiltEircodes = pd.read_csv('https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/NDA01/CSV/1.0/en')
#df_immigration = pd.read_csv('https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/PEA15/CSV/1.0/en')
#df_wages = pd.read_csv('https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/HPA09/CSV/1.0/en')
#df_population = pd.read_csv('https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/HPA09/CSV/1.0/en')
#print(df_buildingsBuiltEircodes)

<ipython-input-20-02168c523501>:6: DtypeWarning: Columns (4,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rentPrices = pd.read_csv('https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/RIA02/CSV/1.0/en')
<ipython-input-20-02168c523501>:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_labourCosts = pd.read_csv('https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/EHQ03/CSV/1.0/en')

In [36]:
new_df = pd.DataFrame()
import re

"""
filtered_housingPrices = df_housingPrices[(df_housingPrices["Type of Dwelling"] == 'All Dwelling Types') 
                    & (df_housingPrices["Dwelling Status"] == 'All Dwelling Statuses') 
                    & (df_housingPrices["Sectoral Flow"] == 'All sectoral flow types') 
                    & (df_housingPrices["Type of Sale"] == 'All Sale Types')
                    & (df_housingPrices["Statistic Label"] == 'Mean Sale Price')]

df2_mean = filtered_housingPrices.groupby('Year').mean().reset_index()
print(df2_mean)
"""

"""

dff_rentPrices = df_rentPrices[(df_rentPrices["Number of Bedrooms"] ==  'All bedrooms')
                                 & (df_rentPrices["Property Type"] ==  'All property types')]
dff_rentPrices['Location'] =  dff_rentPrices['Location'].str.replace(r'\b( Town| City)\b', '', regex=True)
dff_rentPrices['Location'] =  dff_rentPrices['Location'].str.split(', ').str[-1]
dff_rentPrices['Location'] =  dff_rentPrices['Location'].str.replace(' ', '', case=False)
dff_rentPrices['Location'] =  dff_rentPrices['Location'].str.split(',', n=1).str[0]
dff_rentPrices.loc[dff_rentPrices['Location'].str.contains('Dublin', case=False), 'Location'] = 'Dublin'
df2_mean = dff_rentPrices.groupby(['Year'])['VALUE'].mean().reset_index()
print(df2_mean)

"""
dff_labourCosts = df_labourCosts[(df_labourCosts["Economic Sector NACE Rev 2"] == 'Construction (F)')
                                  & (df_labourCosts["Type of Employee"] == 'All employees')]


#print(dff_labourCosts['Quarter'].str.split('Q').str[0])
dff_labourCosts['Quarter'] = dff_labourCosts['Quarter'].str.split('Q').str[0]
dff_labourCosts['Quarter'] = dff_labourCosts['Quarter'].astype(int)

#dff_labourCosts['VALUE'] = dff_labourCosts['VALUE'].astype(int)
#.str.replace('Q1', '').str.replace('Q2', '').str.replace('Q3', '').str.replace('Q4', '')
#dff_labourCosts['Statistic Label'].unique()


filtered_rentPrices = dff_labourCosts[(dff_labourCosts["Statistic Label"] ==  'Average Hourly Earnings')]

print(filtered_rentPrices)




#df2_mean = dff_labourCosts.groupby(['Quarter'])['VALUE'].mean().reset_index()
#df2_mean
#dff_labourCosts.head(20)

#dff_rentPrices
#print(dff_rentPrices['Location'].unique())
#updated_locations = [location.split(", ")[-1] for location in locations]

#filtered_rentPrices = df_rentPrices[(df_rentPrices["Number of Bedrooms"] ==  'All bedrooms')
#                                    & (df_rentPrices["Property Type"] ==  'All property types')]

#filtered_rentPrices
#df2_mean = filtered_housingPrices.groupby('Year').mean().reset_index()
#df2_mean
#df_housingPrices
#new_df = pd.merge(df_buildingsBuilt)

      STATISTIC          Statistic Label  TLIST(Q1)  Quarter C02665V03225  \
10092  EHQ03C03  Average Hourly Earnings      20081     2008            F
10176  EHQ03C03  Average Hourly Earnings      20082     2008            F
10260  EHQ03C03  Average Hourly Earnings      20083     2008            F
10344  EHQ03C03  Average Hourly Earnings      20084     2008            F
10428  EHQ03C03  Average Hourly Earnings      20091     2009            F
10512  EHQ03C03  Average Hourly Earnings      20092     2009            F
10596  EHQ03C03  Average Hourly Earnings      20093     2009            F
10680  EHQ03C03  Average Hourly Earnings      20094     2009            F
10764  EHQ03C03  Average Hourly Earnings      20101     2010            F
10848  EHQ03C03  Average Hourly Earnings      20102     2010            F
10932  EHQ03C03  Average Hourly Earnings      20103     2010            F
11016  EHQ03C03  Average Hourly Earnings      20104     2010            F
11100  EHQ03C03  Average Hourly Earnings      20111     2011            F
11184  EHQ03C03  Average Hourly Earnings      20112     2011            F
11268  EHQ03C03  Average Hourly Earnings      20113     2011            F
11352  EHQ03C03  Average Hourly Earnings      20114     2011            F
11436  EHQ03C03  Average Hourly Earnings      20121     2012            F
11520  EHQ03C03  Average Hourly Earnings      20122     2012            F
11604  EHQ03C03  Average Hourly Earnings      20123     2012            F
11688  EHQ03C03  Average Hourly Earnings      20124     2012            F
11772  EHQ03C03  Average Hourly Earnings      20131     2013            F
11856  EHQ03C03  Average Hourly Earnings      20132     2013            F
11940  EHQ03C03  Average Hourly Earnings      20133     2013            F
12024  EHQ03C03  Average Hourly Earnings      20134     2013            F
12108  EHQ03C03  Average Hourly Earnings      20141     2014            F
12192  EHQ03C03  Average Hourly Earnings      20142     2014            F
12276  EHQ03C03  Average Hourly Earnings      20143     2014            F
12360  EHQ03C03  Average Hourly Earnings      20144     2014            F
12444  EHQ03C03  Average Hourly Earnings      20151     2015            F
12528  EHQ03C03  Average Hourly Earnings      20152     2015            F
12612  EHQ03C03  Average Hourly Earnings      20153     2015            F
12696  EHQ03C03  Average Hourly Earnings      20154     2015            F
12780  EHQ03C03  Average Hourly Earnings      20161     2016            F
12864  EHQ03C03  Average Hourly Earnings      20162     2016            F
12948  EHQ03C03  Average Hourly Earnings      20163     2016            F
13032  EHQ03C03  Average Hourly Earnings      20164     2016            F
13116  EHQ03C03  Average Hourly Earnings      20171     2017            F
13200  EHQ03C03  Average Hourly Earnings      20172     2017            F
13284  EHQ03C03  Average Hourly Earnings      20173     2017            F
13368  EHQ03C03  Average Hourly Earnings      20174     2017            F
13452  EHQ03C03  Average Hourly Earnings      20181     2018            F
13536  EHQ03C03  Average Hourly Earnings      20182     2018            F
13620  EHQ03C03  Average Hourly Earnings      20183     2018            F
13704  EHQ03C03  Average Hourly Earnings      20184     2018            F
13788  EHQ03C03  Average Hourly Earnings      20191     2019            F
13872  EHQ03C03  Average Hourly Earnings      20192     2019            F
13956  EHQ03C03  Average Hourly Earnings      20193     2019            F
14040  EHQ03C03  Average Hourly Earnings      20194     2019            F
14124  EHQ03C03  Average Hourly Earnings      20201     2020            F
14208  EHQ03C03  Average Hourly Earnings      20202     2020            F
14292  EHQ03C03  Average Hourly Earnings      20203     2020            F
14376  EHQ03C03  Average Hourly Earnings      20204     2020            F
14460  EHQ03C03  Average Hourly Earnings      20211     2021            F
14544  EHQ03C03  Average Hourly Earnings      20212     2021            F
14628  EHQ03C03  Average Hourly Earnings      20213     2021            F
14712  EHQ03C03  Average Hourly Earnings      20214     2021            F
14796  EHQ03C03  Average Hourly Earnings      20221     2022            F
14880  EHQ03C03  Average Hourly Earnings      20222     2022            F
14964  EHQ03C03  Average Hourly Earnings      20223     2022            F
15048  EHQ03C03  Average Hourly Earnings      20224     2022            F

      Economic Sector NACE Rev 2 C02397V02888 Type of Employee  UNIT  VALUE
10092           Construction (F)            -    All employees  Euro  19.28
10176           Construction (F)            -    All employees  Euro  19.78
10260           Construction (F)            -    All employees  Euro  20.15
10344           Construction (F)            -    All employees  Euro  21.15
10428           Construction (F)            -    All employees  Euro     21
10512           Construction (F)            -    All employees  Euro  20.83
10596           Construction (F)            -    All employees  Euro  20.75
10680           Construction (F)            -    All employees  Euro  21.19
10764           Construction (F)            -    All employees  Euro  20.37
10848           Construction (F)            -    All employees  Euro  20.22
10932           Construction (F)            -    All employees  Euro   19.1
11016           Construction (F)            -    All employees  Euro  20.96
11100           Construction (F)            -    All employees  Euro  18.97
11184           Construction (F)            -    All employees  Euro  19.54
11268           Construction (F)            -    All employees  Euro  19.21
11352           Construction (F)            -    All employees  Euro  18.58
11436           Construction (F)            -    All employees  Euro  18.55
11520           Construction (F)            -    All employees  Euro   18.7
11604           Construction (F)            -    All employees  Euro   20.4
11688           Construction (F)            -    All employees  Euro  19.73
11772           Construction (F)            -    All employees  Euro  18.32
11856           Construction (F)            -    All employees  Euro  19.78
11940           Construction (F)            -    All employees  Euro  19.83
12024           Construction (F)            -    All employees  Euro  20.32
12108           Construction (F)            -    All employees  Euro  19.25
12192           Construction (F)            -    All employees  Euro  19.88
12276           Construction (F)            -    All employees  Euro  19.03
12360           Construction (F)            -    All employees  Euro  19.96
12444           Construction (F)            -    All employees  Euro   19.2
12528           Construction (F)            -    All employees  Euro  19.41
12612           Construction (F)            -    All employees  Euro  19.22
12696           Construction (F)            -    All employees  Euro  20.29
12780           Construction (F)            -    All employees  Euro  19.66
12864           Construction (F)            -    All employees  Euro  19.96
12948           Construction (F)            -    All employees  Euro  19.35
13032           Construction (F)            -    All employees  Euro  20.42
13116           Construction (F)            -    All employees  Euro  20.08
13200           Construction (F)            -    All employees  Euro   19.9
13284           Construction (F)            -    All employees  Euro  19.86
13368           Construction (F)            -    All employees  Euro  20.67
13452           Construction (F)            -    All employees  Euro  20.49
13536           Construction (F)            -    All employees  Euro  20.76
13620           Construction (F)            -    All employees  Euro  20.92
13704           Construction (F)            -    All employees  Euro  21.55
13788           Construction (F)            -    All employees  Euro  21.14
13872           Construction (F)            -    All employees  Euro  21.42
13956           Construction (F)            -    All employees  Euro  21.42
14040           Construction (F)            -    All employees  Euro  22.74
14124           Construction (F)            -    All employees  Euro  22.17
14208           Construction (F)            -    All employees  Euro  21.08
14292           Construction (F)            -    All employees  Euro  21.83
14376           Construction (F)            -    All employees  Euro  23.27
14460           Construction (F)            -    All employees  Euro  23.99
14544           Construction (F)            -    All employees  Euro  22.49
14628           Construction (F)            -    All employees  Euro  23.23
14712           Construction (F)            -    All employees  Euro  23.75
14796           Construction (F)            -    All employees  Euro  23.68
14880           Construction (F)            -    All employees  Euro   24.6
14964           Construction (F)            -    All employees  Euro  24.15
15048           Construction (F)            -    All employees  Euro   24.9

<ipython-input-36-c89f6af9a0b7>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff_labourCosts['Quarter'] = dff_labourCosts['Quarter'].str.split('Q').str[0]
<ipython-input-36-c89f6af9a0b7>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff_labourCosts['Quarter'] = dff_labourCosts['Quarter'].astype(int)

In [ ]:
## Housing Prices
#TO DO - existem 1610 valores NULL na coluna VALUE. Encontrar a melhor forma de preencher este valores!! A1
# Soma dos valores null
#df_housingPrices[df_housingPrices["Type of Dwelling"].str.contains("All Dwelling Types").loc[:, ["Year", "VALUE"]]]
#df_labourCosts[df_labourCosts["Type of Employee"].str.contains("All employees")].loc[:, ["Quarter", "VALUE"]].isnull().sum()
"""
df_housingPrices[(df_housingPrices["Type of Dwelling"] == 'House') 
                    & (df_housingPrices["Dwelling Status"] == 'Existing') 
                    & (df_housingPrices["Sectoral Flow"] == 'All sectoral flow types') 
                    & (df_housingPrices["Type of Sale"] == 'All Sale Types')
                    & (df_housingPrices["Statistic Label"] == 'Mean Sale Price')]
"""
#df_housingPrices.columns
#df_housingPrices

## Labour Costs
#TO DO - existem 1610 valores NULL na coluna VALUE. Encontrar a melhor forma de preencher este valores!! A1
# Soma dos valores null
#df_labourCosts[df_labourCosts["Type of Employee"].str.contains("All employees")].loc[:, ["Quarter", "VALUE"]].isnull().sum()
#df_labourCosts


"""
locations = df_rentPrices["Location"].unique()
updated_locations = [location.split(", ")[-1] for location in locations]

# Print the updated location names
for location in updated_locations:
    print(location)
"""
df_immigration
#df_rentPrices[(df_rentPrices["Number of Bedrooms"] ==  'All bedrooms')
#              & (df_rentPrices["Property Type"] ==  'All property types')]

## Construction Workers
#TO DO - existem 307 valores NULL na coluna VALUE. Encontrar a melhor forma de preencher este valores!! A1
# Soma dos valores null
#df_constructionWorkers[df_constructionWorkers["Sex"].str.contains("Both sexes")].loc[:, ["Quarter", "VALUE"]].isnull().sum()

#df_constructionWorkers
#df_buildingsBuilt[df_buildingsBuilt["Type of House"].str.contains("All house types")].loc[:,["Year", "VALUE"]]
#df_buildingsBuilt

,STATISTIC,STATISTIC Label,TLIST(A1),Year,C02541V03076,Component,UNIT,VALUE
0,PEA15,Annual Population Change,1951,1951,1,Annual births,Thousand,NaN
1,PEA15,Annual Population Change,1951,1951,2,Annual deaths,Thousand,NaN
2,PEA15,Annual Population Change,1951,1951,3,Natural increase,Thousand,26.6
3,PEA15,Annual Population Change,1951,1951,4,Immigrants,Thousand,NaN
4,PEA15,Annual Population Change,1951,1951,5,Emigrants,Thousand,NaN
...,...,...,...,...,...,...,...,...
571,PEA15,Annual Population Change,2022,2022,4,Immigrants,Thousand,120.7
572,PEA15,Annual Population Change,2022,2022,5,Emigrants,Thousand,59.6
573,PEA15,Annual Population Change,2022,2022,6,Net migration,Thousand,61.1
574,PEA15,Annual Population Change,2022,2022,7,Population change,Thousand,88.8
575,PEA15,Annual Population Change,2022,2022,8,Population,Thousand,5100.2